<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bogearrai/style.css' %}">
</head>
<body>
    <header>
        <div></div>
        <h1>Irish County Populations</h1>
        <div><input placeholder="Search..."></input></div>
    </header>
    <main>
        <section class="graph-card">
            {% if graph %}
            <div class="graph-card__inner">
                <h3 id="graph-title" class="graph-card__title">Generated Graph</h3>
                <div class="graph-column-display">
                    <div>
                        <img src="data:image/png;base64,{{ graph }}" alt="County Graph" id="graphImage">
                    </div>
                    <div class="graph-widgets-container">
                        <button class="graph-button" id="expandBtn">Expand</button>
                        <button class="graph-button" id="downloadBtn">Download Graph</button>
                    </div>
                </div>
            {% endif %}
        </section>
        <section>
            <h2>Selected Counties</h2>
            <section class="counties-list-container">
                <div>
                    {% for county in c1.keys %}
                        <h3>{{ county }}</h3>
                    {% endfor %}
                    <div class=table-container>
                        <table>
                            <tr>
                                <th><i>Year</i></th>
                                <th><i>Population</i></th>
                            </tr>
                            {% for val in c1.values %}
                                {% for pair in val %}
                                    <tr>
                                        <td>{{ pair.0 }}</td>
                                        <td>{{ pair.1 }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div>
                    {% for county in c2.keys %}
                        <h3>{{ county }}</h3>   
                    {% endfor %}
                    <div class=table-container>
                        <table>
                            <tr>
                                <th>Year</th>
                                <th>Population</th>
                            </tr>
                            {% for val in c2.values %}
                                {% for pair in val %}
                                    <tr>
                                        <td>{{ pair.0 }}</td>
                                        <td>{{ pair.1 }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div>
                    {% for county in c3.keys %}
                        <h3>{{ county }}</h3>
                    {% endfor %}
                    <div class=table-container>
                        <table>
                            <tr>
                                <th>Year</th>
                                <th>Population</th>
                            </tr>
                            {% for val in c3.values %}
                                {% for pair in val %}
                                    <tr>
                                        <td>{{ pair.0 }}</td>
                                        <td>{{ pair.1 }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </section>
        </section>  
    </main>
</body>
<script>
    const img = document.getElementById("graphImage");
    const btn = document.getElementById("expandBtn");

    btn.addEventListener("click", () => {
        img.classList.toggle("expanded");
        btn.classList.toggle("expanded");
        btn.textContent = img.classList.contains("expanded") ? "Close" : "Expand";
    });

    const dwnl = document.getElementById("downloadBtn")
    dwnl.addEventListener("click", () => {
        const a = document.createElement('a');
        a.href = "data:image/png;base64,{{ graph }}";
        a.download = "counties_graph.png";
        a.click();
    })
</script>
</html>
