<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bogearrai/style.css' %}">
</head>
<body>
    <header>
        <div></div>
        <h1>Irish County Populations</h1>
        <div><input placeholder="Search..."></input></div>
    </header>
    <main>
        <section>
            <h2>Selected Counties</h2>
            <section class="counties-list-container">
                <div>{{ c1 }}</div>
                <div>{{ c2 }}</div>
                <div>{{ c3 }}</div>
            </section>
        </section>  
        <section class="graph-card">
            {% if graph %}
            <div class="graph-card__inner">
                <h3 id="graph-title" class="graph-card__title">Generated Graph</h3>
                <img src="data:image/png;base64,{{ graph }}" alt="County Graph">
            {% endif %}
        </section>
    </main>
</body>
</html>